@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Kufi Arabic", "Roboto", sans-serif;
}
#clients .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 6px;
  display: inline-block;
  background: #fff;
  margin: 0 3px;
  border-radius: 0;
  opacity: 1;
  border: 1px solid #fdb813;
}

.swiper-pagination-bullet-active {
  background-color: #fdb813;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fdb813;
  overflow: hidden;
  font-size: 35px;
}
.fade {
  transform: translate(0);
  transform: scale(1);
  opacity: 1;
}
